<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/team.css">
</head>
<body>
    <div>
        <p>
            <h3><u>INNOVATIVE HEADS</u></h3>
            Innovative heads are responsible for bringing new ideas, creative solutions, and unique
            event concepts to keep the club dynamic and engaging.<br>
            They focus on brainstorming and implementing innovations.<br>
            Since there are teams we have multiple heads for them

        </p>
        <div class="container">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aditya Pandey</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2022-2026</li>
                    <li class="list-group-item" style="height: 4.6rem;">Branch : Data Science</li>
                    <li class="list-group-item">Technical Head</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/aditya-pandey-135090257/" class="card-link">Linkedin</a>
                    <a href="https://www.instagram.com/_adi_0.0.1/" class="card-link">Instagram</a>
                </div>
            </div>
    
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aaraav Sehgal</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2022-2026</li>
                    <li class="list-group-item">Branch : Information Technology</li>
                    <li class="list-group-item">Technical Head</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/aaraav-sehgal/" class="card-link">Linkedin</a>
                    <a href="https://www.instagram.com/aaraav_28/" class="card-link">Instagram</a>
                </div>
            </div>
        
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nikita Jangra</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2022-2026</li>
                    <li class="list-group-item">Branch : Electornics Engineering</li>
                    <li class="list-group-item">Technical Head</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/nikita-jangra-44aa1a26b/" class="card-link">Linkedin</a>
                    <a href="#" class="card-link">Instagram</a>
                </div>
            </div>
        </div>

            <div class="container">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Keshav</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2023-2027</li>
                    <li class="list-group-item" style="height: 4.6rem;">Branch : Data Science</li>
                    <li class="list-group-item">Session Head</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Linkedin</a>
                    <a href="#" class="card-link">Instagram</a>
                </div>
            </div>
        
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shubham</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2023-2027</li>
                    <li class="list-group-item" style="height: 4.6rem;">Branch : Data Science</li>
                    <li class="list-group-item">Session Head</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Linkedin</a>
                    <a href="#" class="card-link">Instagram</a>
                </div>
            </div>
      
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Anjali</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2023-2027</li>
                    <li class="list-group-item" style="height: 7.6rem;">Branch : Data Science</li>
                    <li class="list-group-item">Design Head</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Linkedin</a>
                    <a href="https://www.instagram.com/anjali_x_04/" class="card-link">Instagram</a>
                </div>
            </div>
        </div>

            <div class="container">
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kartikaa Paul</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2022-2026</li>
                    <li class="list-group-item" style="height: 7.6rem;">Branch : Electornics IOT </li>
                    <li class="list-group-item">Design Head</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/kartika-paul-580601244/" class="card-link">Linkedin</a>
                    <a href="https://www.instagram.com/kartikaapaul/" class="card-link">Instagram</a>
                </div>
            </div>
       
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Disha Verma</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2021-2025</li>
                    <li class="list-group-item" style="height: 7.6rem;">Branch : Computer Engineering </li>
                    <li class="list-group-item">Design Head</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/dishamishra78/" class="card-link">Linkedin</a>
                    <a href="#" class="card-link">Instagram</a>
                </div>
            </div>
     
            <div class="card" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jyotsna Rajya BHatia</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Batch : 2022-2026</li>
                    <li class="list-group-item">Branch : Electronics And Communication Engineering </li>
                    <li class="list-group-item">Content Head</li>
                </ul>
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/jyotsnarajyabhatia/" class="card-link">Linkedin</a>
                    <a href="https://www.instagram.com/jyotsnarajya/" class="card-link">Instagram</a>
            </div>
        </div>
    </div>
</body>
</html>