<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/team.css">
</head>
<body>
    <div>
        <p>
            <h3><u>JOINT SECRETARYS</u></h3>
            Joint secratary assists the Secretary in administrative tasks.<br>
            They help in coordinating club activities and step in when the Secretary is unavailable.<br>
            There are 4 jsec of our club
        </p>
        <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Diksha</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Batch : 2022-2026</li>
                <li class="list-group-item" style="height: 4.6rem;">Branch : Data Scince</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/diksha-44530525a/" class="card-link">Linkedin</a>
                <a href="https://www.instagram.com/diksha._0909/" class="card-link">Instagram</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Abhijeet</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Batch : 2021-2025</li>
                <li class="list-group-item">Branch : Electrical And  Electronics Engineering</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/suchet-bhardwaj/" class="card-link">Linkedin</a>
                <a href="https://www.instagram.com/suchet_007/" class="card-link">Instagram</a>
            </div>
        </div>
    </div>

        <div class="container">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Sahil Kargwal</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Batch : 2022-2026</li>
                <li class="list-group-item">Branch : Electrical And  Electronics Engineering</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/suchet-bhardwaj/" class="card-link">Linkedin</a>
                <a href="https://www.instagram.com/s_kargwal2003/" class="card-link">Instagram</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Tanvi Gandhi</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Batch : 2022-2026</li>
                <li class="list-group-item">Branch : Electrical Engineering</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/tanvi-gandhi-17b067266/" class="card-link">Linkedin</a>
                <a href="https://www.instagram.com/tanvigandhi531/" class="card-link">Instagram</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>