<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/team.css">
</head>
<body>
    <p>
        <h3><u>MENTORS</u></h3>
        Mentors are experienced members who guide and support junior members.<br>
        They provide advice, training, and help in skill development related to club activities.<br>
        There are 2 mentors in our club

    </p>
    <div class="container">
        <div class="card" >
            <img src="..." class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Lakshay Bhatia</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Batch : 2021-2025</li>
                <li class="list-group-item">Branch : Electronics And Computer Engineering</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/lakshaybhatia2506/" class="card-link">Linkedin</a>
                <a href="https://www.instagram.com/_lakshaybhatia_/" class="card-link">Instagram</a>
            </div>
        </div>

        <div class="card" >
            <img src="..." class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">Suchet Bhardwaj</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Batch : 2021-2025</li>
                <li class="list-group-item">Branch : Electrical And  Electronics Engineering</li>
            </ul>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/suchet-bhardwaj/" class="card-link">Linkedin</a>
                <a href="https://www.instagram.com/suchet_007/" class="card-link">Instagram</a>
            </div>
        </div>
    </div>
</body>
</html>