<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    Projects:-
    Take a look at things are members maded with us 

    Sessions:-
    Session is conducted where club seniors teach juniors things beyond the syllabus to enhance their knowledge and develop their interest.
    <button>Sessions 2k25</button>
    <button>Sessions 2k24</button>
    <button>Sessions 2k23</button>
    <button>Sessions 2k22</button>

    Workshops:-
    in workshops, we focus on practical knowledge that will help you in building your own projects.
    <button>1.PCB Design And Fabrication</button>
    <button>2.Soldering Workshops</button>
    <button>3.Protocol Palooza</button>
    <button>4.Interfacing IOT</button>
    <button>6.Browsing Arduino</button>
    <button>7.Decoding Encoders</button>

</body>
</html>